[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==2.25.1"
asyncio = "==3.4.3"
pymongo = "==4.3.3"
pydantic = "==1.10.7"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"
